<mat-form-field>
  <mat-label>Anzahl</mat-label>
  <input
    matInput
    type="number"
    step="any"
    [formField]="value.amount"
    (change)="updateConsumer()"
  />
</mat-form-field>
<mat-form-field>
  <mat-label>Einheit</mat-label>
  <input
    matInput
    type="text"
    [formField]="value.unit"
    (change)="updateConsumer()"
  />
</mat-form-field>
<mat-form-field>
  <mat-label>Zutat</mat-label>
  <input
    matInput
    type="text"
    [formField]="value.name"
    (change)="updateConsumer()"
  />
</mat-form-field>
